<!-- templates/lab_5/partials/header.html -->
<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'lab-10:index' %}"><span class="glyphicon glyphicon-home"></span> Home</a>
          </div>
          <ul class="nav navbar-nav">
            <!-- LINK MENUJU table, dan link menuju home#form -->
          </ul>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'lab-4:index' %}"><span class="glyphicon glyphicon-user"></span> About Author</a></li>
              {% if login %}
                <li><a href='{% url "lab-10:auth_logout" %}' onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
              {% endif %}  
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>