{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="movie-title">
  <div id="title">
    <h1>{{ movie.title}} ({{ movie.year}})</h1>
  </div>
  <div class="rating">
    <p id="ratings"> <img src="https://png.icons8.com/star-filled/ios7/50/f1c40f" id="star"> {{ movie.ratings.0.Value.0}}{{ movie.ratings.0.Value.1}}{{ movie.ratings.0.Value.2}}<small id="per-ten">{{ movie.ratings.0.Value.3}}{{ movie.ratings.0.Value.4}}{{ movie.ratings.0.Value.5}}</small></p>
    <h5> {{movie.imdbvotes}} </h5>
  </div>
  <div class="sub-text">
      {{ movie.rated}} | {{movie.runtime}} | {{movie.genre}} | {{movie.released}}({{movie.country}})
  </div>
</div>

<div class="movie-description">
  <div class="poster">
    <img src="{{movie.poster}}"/>
  </div>
  <div class="description">
    <p>{{movie.plot}}</p>
    <p>Directors : {{movie.director}}</p>
    <p>Writers : {{movie.writer|truncatewords:13}}</p>
    <div class="movie-score">
      <div class="meta-box">{{movie.metascore}}</div> &nbsp; {{movie.ratings.1.Source}}
    </div>
    <div class="box">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>
  </div>
</div>

{% endblock %}
