{% extends "lab_4/layout/base.html" %}

{% block content %}
<style>
    .avatar_image{
        width: 25%;
        height: 25%;
        border-radius: 50%;
        display: block;    
        margin: 0 auto;
    }
    hr {
       display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 0;
       width: 100%;
       max-height: 0;
       font-size: 1px;
       line-height: 0;
       clear: both;
       border: none;
       border-top: 3px solid #aaaaaa;
    }
</style>

<img class="avatar_image" src="https://gitlab.com/ivanabdurrahman/myLab1/raw/master/lab_4/templates/lab_4/images/profile_Ivan.jpg">
<h1><b>Ivan Abdurrahman</b></h1>
<p style="text-align: center"> Halo Dunia! Melalui halaman ini saya akan memperkenalkan diri saya ke dunia.
    My name is Ivan Abdurrahman, dipanggil Ivan, atau sekarang Ivdur.
    Mahasiswa Sistem Informasi 2016, Fakultas Ilmu Komputer, Univeritas Indonesia.
</p>
<br>
<p style="text-align: center"> Prestasi yang pernah dicapai selama ini adalah menjadi Mahasiswa SI
    Fasilkom UI dan saya bangga dengan hal itu. Semoga di masa yang akan datang
    bagian Portofolio ini akan lebih terisi. Salam. Tetap Semangat!
</p>
<hr/>
<section name="bio">
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>    
</section>
<hr/>
<section name="about_me">
    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

{% endblock %}

