{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 700px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -350px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        text-align: center;
    }
    .status{
        background-color: #ffffff;
        padding: 40px;
    }
</style>
<div class="center_screen">
    <p class="status" id="test">Hello, this is {{ name }}. {{ content }}</p>
</div>
{% endblock %}