body{
    margin-top: 70px;
    background: #e9eaed;
 }

#login-section{
    text-align: center;
}

 /* Custom navbar style */
 .navbar-static-top {
    margin-bottom: 19px;
 }
 .navbar-default .navbar-nav>li>a {
    cursor: pointer;
 }

 .feed {
	min-height: 170px;
	width: 100%;
	margin: 20px auto;
	padding: 10px 20px;
	background: white;
	word-wrap: break-word;
	font-family: 'Helvetica';
	font-size: 18px; 
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

.fb-profile {
	min-height: 170px;
	width: 100%;
	margin: 20px auto;
	padding: 20px 30px;
	background: white;
	word-wrap: break-word;
	font-family: 'Helvetica';
	font-size: 18px; 
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

.status-form {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    text-align: right;
}

#postInput{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 14pt;
}

button {
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 0 15px 0 15px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    background-color: #4C69BA;
    color: #FFF;
  }
button:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
button:focus {
    outline: none;
  }
button:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }

 /* Shared from codepen.io */
.loginBtn {
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  
  
  /* Facebook */
  .loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    text-shadow: 0 -1px 0 #354C8C;
  }
  .loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }
  
.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

@media (max-width:768px){
    .fb-profile-text>h1{
        font-weight: 700;
        font-size:16px;
    }

    .fb-profile-text>h3{
        font-weight: 500;
        font-size:12px;
    }

    .fb-profile-text>p{
        font-weight: 400;
        font-size:12px;
    }

    .fb-image-profile{
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 20%; 
    }
}